@import "~normalize.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: Roboto, sans-serif;
  padding: 48px;
}

.button-container {
  background: #fff;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-weight: bold;
  transition-duration: 1s;
  cursor: pointer;
}

.button-copy {
  background: #ddd;
  color: #777;
}

.button-collapse {
  background: #3E5AC3;
  width: 6em;
}

.button-collapse:hover {
  background: #3148A2;
}

.widget-content {
  padding: 0 24px 24px 24px;
  background: #fff;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s ease;
}

.expanded {
  transform: scaleY(1);
}

.widget-input {
  width: 100%;
  height: 5em;
  padding: 8px;
}

.button-feedback {
  background: #c00;
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 48px;
  right: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 1s;
}

.scaled {
  transform: scale(1.5, 1.5);
}

.form-feedback {
  background: #fff;
  width: 320px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.25);
  position: fixed;
  bottom: 48px;
  right: 48px;
  transition: transform 0.3s;
}

.header-feedback {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.header-feedback h3 {
  margin: 0;
  padding: 0;
}

.closer {
  font-size: 1.4em;
  cursor: pointer;
}

.input-feedback, .submit-feedback {
  width: 100%;
}

.input-feedback {
  padding: 8px;
  height: 8em;
}

.submit-feedback {
  padding: 8px 16px;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background: #3E5AC3;
}

.hidden {
  transform: scale(0, 0);
}

.visible {
  transform: scale(1, 1);
}